.git
.gitignore
.github
.vscode
.idea
.next
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
.DS_Store
.env*
!.env.example
README.md
*.md
!public/items/README.md
.eslintcache
*.tsbuildinfo
coverage
.dockerignore
Dockerfile
docker-compose*.yml
